.logo{
    padding-left: 10%;
}

.Aimg-sect{
    margin-top: 50px;
    padding-left: 20%;
}

.Asite-nav{
    margin-top: 55px;
    color: #5C5C5C;
    padding-left: 25%;
}

@media screen and (max-width: 650px) {
    br{
        display: none;
    }
    .logo{
        display: none;
    }
    .Aimg-sect{
    padding-right: 40px;
    }        
    .Asite-nav{
        text-align: center;
        margin-top: -10px;
    }
}